/*src/views/Index/styles.index.css*/
.container {

}

.index {

}

.intro {
  text-align: center;
  width: 100%;
  padding: 5rem;
  font-size: 20rem;
  font-weight: bold;
}

.header {

}

.guide-search {

}

.search {

}

.create-link {

}

